th{
    color:white;
    text-align: left;
    background-color: rgb(83, 156, 83) !important;

}
table{
    width: 100%;
    border-collapse: collapse;
    border: solid 1px lightgray;
}
tr:nth-child(odd){
    background-color: white;
}
tr:nth-child(even){
    background-color: lightgray;
}
th,td{
    padding: 5px;
}